// Typography
$font-family-sans-serif: 'Caprasimo', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Color
$app-color: #251749 ;
$app-color-dark: #2D004B;
// $app-color-light: #7200BE;

$primary: $app-color;